.wrapper{
    font-family: "Montserrat", sans-serif;
    max-width: 1366px;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
}
label{
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
}
span{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
button{
cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}
.logo{
    display: flex;
}
.logo img{
    width: 300px;
    height: 130px;
    position: relative;
    top: 10px;
}
/*аватарка*/
.ava_back{
    width: 100px;
    height: 100px;
    background-color: #928f8f;
    border-radius: 50%;
}
.ava img{
    width: 50px;
    position: relative;
}