.body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.wrapper{
    max-width: 1004px;/*для выравнивания текста*/
    margin: 0 auto;
    display: flex;
}
.square{
    position: absolute;
    background-color: rgba(114, 125, 249, 1);
    width: 100%;
    height: 173px;
}
.filtr{
    position: relative;
    top: 53px;
    right: 11px;
    width: 67px;
    height: 67px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.search{
    display: flex;
}
.search input {
    background:white;
    font-size: 26px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;

    outline: none;
    border: none;
    position: relative;
    left: 14px;
    top: 53px;
    width: 888px;
    height: 65px;
    padding-left: 10px;
    border-radius: 15px;
}
.search button {
    position: relative; 
    top: 70px;
    right: 40px;
    width: 33px;
    height: 33px;
    border: none;
    outline: none;
    background: white;
    cursor: pointer;
}
.wrapper input::placeholder{
    color: black;
}
.plus{
    position: relative;
    top: 53px;
    width: 67px;
    height: 67px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;    
}

/*--------------------------------------*/

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/Service-Exchange/frontend/img/фон2.svg) no-repeat;
    background-size: cover;
    background-position: center;
}


